name: gender_hack
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0+1

environment:
  sdk: ^3.11.0-134.0.dev

dependencies:
  fl_chart: ^1.1.1
  flutter:
    sdk: flutter
  lottie: ^3.3.2
  persistent_bottom_nav_bar: ^6.2.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/

